<ul class="events__wrapper">
  <% passed_events.each do |event| %>
    <li class="event__card">
      <div class="event__card-header__wrapper">
        <div class="event__card-header">
          <div class="event__title">
            <%= link_to event.name, event %>
            <% if event.private %>
              <span class="private-event"> - private</span>
            <% end %>
          </div>
          <%= event.formatted_date %>
        </div>
        <div class="event__info">
          <p>when: <%= event.formatted_time %></p>
          <p class="event__card-location">where: <%= event.location %></p>
        </div>
      </div>
      <div class="actions__wrapper">
        <%= link_to "Details", event %>
        <% if event.private && event.creator == current_user %>
          <%= link_to "Set Guest List", user_index_path(invite_only_event: event.id), method: :get %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>