<h1>Events</h1>

<%= link_to current_user.username, current_user %>

<% if @events.empty? %>
  <%= "There are no events scheduled." %>
<% end %>

  <ul class="events">
    <% @events.each do |event| %>
      <li>
        <%= link_to event.name, event %>
        <%= event.event_date %>
        <%= event.location %>
      </li>
    <% end %>
  </ul>