<h1>Events</h1>

<h3>Upcoming</h3>
<% if @events.upcoming.size == 0 %>
  <p>There are no upcoming events at this time.</p>
<% else %>
  <ul class="events">
    <% @events.upcoming.each do |event| %>
      <li>
        <%= link_to event.name, event %>
        <%= event.formatted_date %>
        <%= event.location %>
      </li>
    <% end %>
  </ul>
<% end %>
  
<h3>Past</h3>
<% if @events.past.empty? %>
  <p>There are no past events at this time.</p>
<% else %>
  <ul class="events">
    <% @events.past.each do |event| %>
      <li>
        <%= link_to event.name, event %>
        <%= event.formatted_date %>
        <%= event.location %>
      </li>
    <% end %>
  </ul>
<% end %>