<div class="event-show__wrapper">
  <div class="event__show-details">
    <div class="event__show-details__header">
      <div>
        <h2><%= @event.name %></h2>
        <p><%= @event.formatted_date %>
      </div>

      <div>
        <p>when: <%= @event.formatted_time %>
        <p>where: <%= @event.location %>
      </div>
    </div>
    
    <% if @event.description? %>
      <p class="description"><%= @event.description %></p>
    <% else %>
      <p class="description">Organizers did not provide a description of this event.</p>
    <% end %>
    
    <div>
      <div class="guest_list__header">
        <h3>Guest List</h3>
        <% if @event.private %>
          <p> (confirmed)</p> 
        <% end %>
      </div>
      <% if current_user %>
        <% unless @event.private %>
          <ul>
            <% @event.attendees.each do |attendee| %>
              <li>
                <%= attendee.username %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <ul>
            <% @accepted_invites.each do |attendee| %>
              <li>
                <%= attendee.username %>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% else %>
        <p>Log in to see guest list.</p>
      <% end %>
    </div>

    <% attending = current_user && @event.guest_lists.find { |guest| guest.attendee_id == current_user.id } %>
    <% if !@event.private || (@event.private && @event.created_by?(current_user)) %>
      <% if current_user && @event.upcoming? %>
        <% if attending %>
          <%= button_to "Remove Attendance", event_guest_list_path(@event, attending), data: {
                                turbo_method: :delete,
                                turbo_confirm: "Are you sure?"
                              } %>
        <% else %>
          <%= button_to "Attend", event_guest_lists_path(@event), data: { turbo_method: :post } %>
        <% end %>
      <% end %>
    <% else %>      
      <% if attending %>
        <% if attending.accepted %>
          <%= button_to "Decline Invitation", event_guest_list_path(@event, attending, accept: false), method: :patch %>
        <% else %>
          <%= button_to "Accept Invitation", event_guest_list_path(@event, attending, accept: true), method: :patch %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if @event.created_by?(current_user) %>
    <ul class="event__actions">
      <li><%= link_to "Edit", edit_event_path(@event) %></li>
      <li><%= link_to "Destroy", event_path(@event), data: {
                          turbo_method: :delete,
                          turbo_confirm: "Are you sure?"
                        } %></li>
    </ul>
  <% end %>
</div>