<h1>Events</h1>
<p>Hello, <%= @user.username %></p>

<%= link_to "add event", new_event_path %>

<h3>Created Events</h3>
<% if @user.created_events.empty? %>
  <p>You have not scheduled any events.</p>
<% else %>
  <ul class="events">
    <% @user.created_events.each do |event| %>
      <li>
        <%= link_to event.name, event %>
        <%= event.formatted_date %>
        <%= event.location %>
      </li>
    <% end %>
  </ul>
<% end %>

<h3>Upcoming Events</h3>
<% if @user.attended_events.upcoming.empty? %>
  <p>You do not have any upcoming events.</p>
<% else %>
  <ul class="events">
    <% @user.attended_events.upcoming.each do |event| %>
        <li>
          <%= link_to event.name, event %>
          <%= event.formatted_date %>
          <%= event.location %>
        </li>
    <% end %>
  </ul>
<% end %>

<h3>Past Events</h3>
<% if @user.attended_events.empty? %>
  <p>You do not have any past events.</p>
<% else %>
  <ul class="events">
    <% @user.attended_events.past.each do |event| %>
      <li>
        <%= link_to event.name, event %>
        <%= event.formatted_date %>
        <%= event.location %>
      </li>
    <% end %>
  </ul>
<% end %>

